body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.right{
  float: right;
}

.left{
  float: left
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}
.nav li:last-child {
    margin-left: auto;
   display: block;
  text-align:right;
}

ul {
  padding-left: 0;
}


li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}


.lastRight{
  margin-left: auto;
   display: block;
  text-align:right;
}
.question {
  width: 90%;
  padding: 10px 0px 0px 0px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px; 
}
.question-home {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.tab{
    border: 1px solid #dad7d7;
  border-radius: 3px;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}
.questionView {
  width: 90%;
  padding: 10px 0px 0px 0px;
  display: block;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px; 
}
